$Platinum: #DCDCDD;
$French-gray: #C5C3C6;
$Matte-black:#28282B;
$Outher-Space: #46494C;
$Paynes-gray: #4C5C68;
$Blue-Munsell:#1985A1;
$Unknown:#d16666ff;
$Red-Munsell:#f2003c;
$Orange:#FFA500;
$Cream:#FCFBF4;
$Dark-gray:#A9A9A9;
